.top{
    margin-top: 20px;
}

@media (width < 1000){
    .col-3 {
        width: 33.33333333%;
        float: left;
    }
}

.buttons{
    justify-content: space-between;

}

.btn-danger {
    margin-left: 100px;
}