@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

.goToListBtn {
    background-color: white!important;
    border: none;
}

.quantityBtn {
    background-color: white!important;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
}

.plus {
    margin-left: 0px;
}

.trash {
    border: none;
}