.navbar {
    border-bottom: 1px solid #333333;
    margin-top: 0;
    background-color: #006994!important;
 
}
/* .navbar-collapse .navbar .collapse {
    display: flex;
    justify-content: space-between;
  }
   */

.navbar-brand {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    font-weight: bold;
    justify-content: space-between!important;
}

.nav-link {
    color: white!important;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: rgb(209, 212, 212)!important;
}

.bg-dark {
    background-color: #006994!important;
}

.logoBtn {
    background-color: #006994;
    border: none;
}