.navbar {
    border-bottom: 1px solid #333333;
    margin-top: 0;
    height: 100px;
    /* background-color: #006994!important; */
    background-color: rgb(204, 156, 117) !important;
 
}
/* .navbar-collapse .navbar .collapse {
    display: flex;
    justify-content: space-between;
  }
   */
.btn-primary {
    background-color: rgb(94, 139, 21);
    border-color:  rgb(204, 156, 117);

}
.navbar-brand {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    font-weight: bold;
    justify-content: space-between!important;
}

.nav-link {
    color: white!important;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: rgb(209, 212, 212)!important;
}

.bg-dark {
    background-color: rgb(204, 156, 117)!important;
}

.logoBtn {
    background-color: rgb(204, 156, 117);
    border: none;
}

nav{
    width: 100%;
}

.login{
    margin-right: 10px;
}