
<nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-between">
  <div class="container-fluid justify-content-between">
    <button (click)="goToProducts()" class="logoBtn">
      <a  class="navbar-brand" href="#"> My Coffe Shop </a>
    </button>
    <span *ngIf="!(isLoggedIn$ | async); else fullname"></span>
      <ng-template #fullname>
        <span> Hello {{ loggedInUserFullname$ | async }}</span>
      </ng-template>
          
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul *ngIf="isLoggedIn$ | async; else loggedOut" class="navbar-nav">
        <li  class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <app-dropdown
            class="nav-item dropdown"
            [dropdownLabel]="'Users'"
            [items]="usersMenu"
          ></app-dropdown>
          </a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" href="#">
            <app-dropdown 
            class="nav-item dropdown"
            [dropdownLabel]="'Products'"
            [items]="productsMenu"
        ></app-dropdown>
          </a>
        </li>
        <li  *ngIf="!(isLoggedIn$ | async); else logoutBtn"  class="nav-item">
          
        </li>
        <li class="nav-item">
          <ng-template #logoutBtn>
            <button class="ms-2 btn btn-danger btn-sm" (click)="logout()">
              Logout
            </button>
          </ng-template>
        </li>
        
        
      </ul>
    </div>
  </div>
  <ng-template #loggedOut>
    <a class="btn btn-primary btn-sm" routerLink="/login">Login</a>
  </ng-template>
</nav>

<div class="row mt-2">
  <router-outlet></router-outlet>
</div>






    
     










<!-- <div class="container-fluid">
  <div class="row">
    
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 p-2 justify-content-between">

      <span class="navbar-brand">
        <strong
          ><a href="#" routerLink="" class="text-decoration-none text-black">{{
            title
          }}</a></strong
        >
      </span>
      <span *ngIf="!(isLoggedIn$ | async); else fullname"></span>
      <ng-template #fullname>
        <span> Hello {{ loggedInUserFullname$ | async }}</span>
        <button class="ms-2 btn btn-danger btn-sm" (click)="logout()">
          Logout
        </button>
      </ng-template>      
      
      <ul *ngIf="isLoggedIn$ | async; else loggedOut" class="navbar-nav">
        <app-dropdown
          class="nav-item dropdown"
          [dropdownLabel]="'Users'"
          [items]="usersMenu"
        ></app-dropdown>
        
        <app-dropdown 
          class="nav-item dropdown"
          [dropdownLabel]="'Products'"
          [items]="productsMenu"
        ></app-dropdown>
        
      
        
      </ul>
      <ng-template *ngIf="isLoggedIn$ |async">
        <button class="ms-2 btn btn-danger btn-sm" (click)="logout()">
          Logout
        </button>
      </ng-template>
      <ng-template #loggedOut>
        <a class="btn btn-primary btn-sm" routerLink="/login">Login</a>
      </ng-template>
    </nav>
  </div>
  <div class="row mt-2">
    <router-outlet></router-outlet>
  </div>
</div>
 -->
